    html ul {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #181818;
    }
    
    h2 {
        color: #fff;
        margin-top: 20px;
    }
    
    ul li {
        list-style: none;
    }
    
    .btn {
        margin-top: 10px;
    }
    
    form {
        display: block;
    }